<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732770489404-0jvenk9v2fqddj7n8sarfm924h1qdt4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732770489404-0jvenk9v2fqddj7n8sarfm924h1qdt4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBwLhYzQmR2EZzhAX-EDEBreTKApAQ3tuw</string>
	<key>GCM_SENDER_ID</key>
	<string>732770489404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suberoMobile</string>
	<key>PROJECT_ID</key>
	<string>subero-app</string>
	<key>STORAGE_BUCKET</key>
	<string>subero-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732770489404:ios:33765f8c0f8fa490d15f39</string>
</dict>
</plist>